* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          outline: 1px solid red;
}
body{
  background-color: #b3b3b3;
}

nav div button {
  width: 50%;
  height: 50px;
}

nav div button i{
  outline-color: #0000ff;
  line-height: 30px;
}
/*
font-family: 'Darker Grotesque', Helvetica, sans-serif;
font-family: 'Fira Sans', Helvetica, sans-serif;
font-family: 'Lora', Helvetica, sans-serif;
font-family: 'Nanum Gothic', sHelvetica, sans-serif;
font-family: 'Roboto Condensed', Helvetica, sans-serif;
font-family: 'Roboto', Helvetica, sans-serif;
font-family: 'Source Sans Pro', Helvetica, sans-serif;
font-family: 'Space Mono', monospace, Helvetica, sans-serif;
font-family: 'Karla', Helvetica, sans-serif;
font-family: 'Source Code Pro', monospace , Helvetica, sans-serif;
font-family: 'Asap', Helvetica, sans-serif;
font-family: 'Questrial', Helvetica, sans-serif;
font-family: 'Russo One', Helvetica, sans-serif;
font-family: 'Barlow Condensed', Helvetica, sans-serif;
font-family: 'Righteous', cursive, Helvetica, sans-serif;
font-family: 'Amatic SC', cursive, Helvetica, sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Asap:400,500,600,700|Barlow+Condensed:100,300,400,500,700,800,900|Darker+Grotesque:300,400,500,700,800,900|Fira+Sans:100,100i,300,400,500,600,600i,700,800,900|Karla:400,700|Lora:400,700,700i|Nanum+Gothic:400,700,800|Questrial|Righteous|Roboto+Condensed:300,400,700,700i|Roboto:100,300,400,500,700,700i,900|Russo+One|Source+Code+Pro:300,400,700|Source+Sans+Pro:300,400,600,700,900,900i|Space+Mono:400,700');

[class~="amatic"]{
  font-weight: 700;
}

[class~="asap"]{
  font-weight: 600;
}

[class~="barlow"]{
  font-weight: 900;
}

[class~="darkerGrotesque"]{
  font-weight: 800;
}

[class~="firaSans"]{
  font-weight: 900;
}

[class~="karla"]{
  font-weight: 400;
}

[class~="lora"]{
  font-weight: 700;
}

[class~="nanumGothic"]{
  font-weight: 800;
}

[class~="questrial"]{
  font-weight: bold;
}

[class~="righteous"]{
  font-weight: normal;
}

[class~="roboto"]{
  font-weight: 500;
}

[class~="robotoCondensed"]{
  font-weight: 700;
}

[class~="russoOne"]{
  font-weight: bold;
}

[class~="codePro"]{
  font-weight: 700;
}

[class~="sansPro"]{
  font-weight: 900;
}

[class~="spaceMono"]{
  font-weight: 400;
}

.fixed-box{
  position: fixed;
  z-index: 10;
  bottom:1em;
  right:1em;
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
   }

   .rotate-right25{
     transform: rotateY(0deg) rotate(-25deg);
      transition: transform 0.5s;
   }

   .rotate-right25:hover{
     transform:  rotateY(0) rotate(0); /* notice the order */
     transition: transform 0.5s;
     -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
   }

.fixed-box i{
  color: #e6e6e6;
  text-justify: center;
  background-color: #8c8c8c;
  font-size: 3em;
  width:auto;
  height:auto;
  padding: 0 5px;

}

.logo{
  background: url("../images/logo.svg");
  background-repeat: no-repeat;
  height: 8em;
  width: 2em;
  background-size: 100px 82px;
  }

  .navImage{
    margin-top: 5%;
    height: 50%;
    font-size: 25%;
    margin-left: 30%;
  }

 nav div p{
   width: 60%;
   text-align: center;
   margin-left: 20%;
 }

 .searchBtn{
   align-self: center;
   text-align: center;
 }

 .between-words{
    text-align: center;
    position: absolute;
    top: 8em;
    left: 45%;
    z-index: 20;
 }
.between-words p{
  width: 10em;
}
.karla{
  font-family: 'Karla', Helvetica, sans-serif;
}

.codePro{
  font-family: 'Source Code Pro', monospace , Helvetica, sans-serif;
}

.asap{
  font-family: 'Asap', Helvetica, sans-serif;
}

.questrial{
  font-family: 'Questrial', Helvetica, sans-serif;
}

.russoOne{
  font-family: 'Russo One', Helvetica, sans-serif;
}

.barlow{
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
}

.righteous{
  font-family: 'Righteous', cursive, Helvetica, sans-serif;
}

.amatic{
  font-family: 'Amatic SC', cursive, Helvetica, sans-serif;
}

.roboto{
  font-family: 'Roboto', Helvetica, sans-serif;
}

.darkerGrotesque{
  font-family: 'Darker Grotesque', Helvetica, sans-serif;
}

.robotoCondensed{
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

.sansPro{
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.lora{
  font-family: 'Lora', Helvetica, serif;
}

.firaSans{
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

.nanumGothic{
  font-family: 'Nanum Gothic', Helvetica, sans-serif;
}

.spaceMono{
  font-family: 'Space Mono', monospace, Helvetica, sans-serif;
}

.size-10{
  font-size: 10px;
  line-height: 12px;
}

.size-15{
  font-size: 15px;
  line-height: 17px;
}

.size-20{
  font-size: 20px;
  line-height: 22px;
}

.size-25{
  font-size: 25px;
  line-height: 27px;
}

.size-30{
  font-size: 30px;
  line-height: 32px;
}

.size-35{
  font-size: 35px;
  line-height: 37px;
}

.size-40{
  font-size: 40px;
  line-height: 42px;
}

.size-40-img{
  font-size: 40px;
}

.font-weight-300{
  font-weight: 300;
}

.font-weight-400{
  font-weight: 400;
}

.font-weight-700{
  font-weight: 700;
}

.font-weight-900{
  font-weight: 900;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.flexbox{
  display: -webkit-flex;
  display:    -moz-flex;
  display:         flex;


}
.flex-spaceAround{
  justify-content: space-around;
}

.flex-1{
  -webkit-flex-grow: 1;
   -moz-flex-grow:1;
        flex-grow:1;
}

.col-10{
  width: 10%;
}

.col-20{
  width: 20%;
}

.col-30{
  width: 30%;
}

.col-40{
  width: 40%;
}

.col-50{
  width: 50%;
}

.col-60{
  width: 60%;
}

.height-50{
  height: 50px;
}
.height-100{
  height: 100px;
}

.height-200{
  height: 200px;
}

.height-300{
  height: 300px;
}

.height-350{
  height:350px;
}

.height-400{
  height: 400px;
}

.height-500{
  height: 500px;
}

.height-container{
  height: 8em;
}

.black{
  background-color: #000f
}

.grey{
  background-color: #737373;
}


[class^="col"]:hover{
  outline: 2px solid #1a1aff;
}
.position{
  position: relative;
  display: none;
  z-index: 5;
}

.textColor{
  color: #fff;
}
/*
===================
Nav bar
=======================
*/
