html{box-sizing: border-box;}
body{margin: auto;text-align: center;}


*, *:before, *:after{
    box-sizing: border-box;
}

[class*="col"]{
    display: inline-block;
    padding: 15px;
}
[class*="col"]:hover{
    outline: 1px blue solid;
}
.col-1-1{
    width: 100%;
}
.col-1-2{
    width: 49.85%;
}
.col-1-3{
    width: 32.33%;
}
.col-1-4{
    width: 24%;
}
.col-1-5{
    width: 20%;
}
.col-1-6{
    width: 16.66%;
}
.col-1-7{
    width: 14.28%;
}
.col-5-6{
    width: 83.33%;
}

.margin-none{margin: 0;}
.text-align-left{text-align: left;}

.height-100{height: 100px;}
.height-200{height: 200px;}
.height-300{height: 300px;}
.height-400{height: 400px;}
.height-500{height: 500px;}
.height-800{height: 800px;}

.gray-1{background-color: #EEE;}
.gray-2{background-color: #DDD;}
.gray-3{background-color: #CCC;}
.gray-4{background-color: #BBB;}
.gray-5{background-color: #AAA;}
.black{background-color: #000;}